<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Panel Admin - Conti Talent</title>
  <link rel="stylesheet" th:href="@{/css/base.css}" />
</head>
<body>
  <h1>Panel de Administracion</h1>
  <hr>
  <nav>
    <a th:href="@{/admin/areas}">Areas</a> |
    <a th:href="@{/admin/ofertas}">Ofertas</a> |
    <a th:href="@{/admin/postulantes}">Postulantes</a> |
    <a th:href="@{/admin/usuarios}">Usuarios</a> |
    <a th:href="@{/admin/preguntas}">Preguntas</a> |
    <a th:href="@{/admin/metricas}">Metricas</a>
  </nav>
  <hr>
  <a th:href="@{/}">Ir al sitio</a>
</body>
</html>
