<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Postular - Conti Talent</title>
  <link rel="stylesheet" th:href="@{/css/base.css}" />
</head>
<body>
  <a th:href="@{/ofertas}">Volver a ofertas</a>
  <hr>
  <h1>Postular a oferta</h1>
  <form id="form-postular">
    <label>Carta de presentacion:</label>
    <textarea id="carta" rows="5"></textarea>
    <button type="submit">Enviar postulacion</button>
  </form>
  <script th:src="@{/js/page-postular.js}"></script>
</body>
</html>
